target/
!.mvn/wrapper/maven-wrapper.jar

# Log və müvəqqəti fayllar
*.log
.apt_generated/
.factorypath
.sts4-cache/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

.DS_Store
Thumbs.db