# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Spring / STS
.apt_generated/
.factorypath
.sts4-cache/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env